html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  color: wheat;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
}

.Squares {
  flex-grow: 1;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Form {
  right: 0px;
  width: 25%;
  height: 100%;
  background-color: #1e3a8a;
}

input, button {
  display: block;
  border: none;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 50%;
}

button {
  border-radius: 1rem;
}

@media screen and (max-width: 769px) {
  .App {
    flex-direction: column-reverse;
  }

  .Squares {
    max-width: 100%;
  }

  .Form {
    height: 25%;
    width: 100%;
  }
}